<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadDB</servlet-name>
        <servlet-class>Controllers.LoadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControllers</servlet-name>
        <servlet-class>Controllers.CategoryControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControllers</servlet-name>
        <servlet-class>Controllers.DetailControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControllers</servlet-name>
        <servlet-class>Controllers.SearchControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllers</servlet-name>
        <servlet-class>Controllers.LoginControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControllers</servlet-name>
        <servlet-class>Controllers.SignUpControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControllers</servlet-name>
        <servlet-class>Controllers.LogoutControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductControllers</servlet-name>
        <servlet-class>Controllers.ManagerProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControllers</servlet-name>
        <servlet-class>Controllers.DeleteProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductControllers</servlet-name>
        <servlet-class>Controllers.AddProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductControllers</servlet-name>
        <servlet-class>Controllers.EditProductControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEdit</servlet-name>
        <servlet-class>Controllers.LoadEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProfile</servlet-name>
        <servlet-class>Controllers.LoadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>Controllers.LoadEditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile02</servlet-name>
        <servlet-class>Controllers.EditProfile02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartControllers</servlet-name>
        <servlet-class>Controllers.LoadCartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetakePassControllers</servlet-name>
        <servlet-class>Controllers.RetakePassControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRetakepassControllers</servlet-name>
        <servlet-class>Controllers.LoadRetakepassControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadQuestionControllers</servlet-name>
        <servlet-class>Controllers.LoadQuestionControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RememberMeControllers</servlet-name>
        <servlet-class>Controllers.RememberMeControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadRememberMeControllers</servlet-name>
        <servlet-class>Controllers.LoadRememberMeControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartControllers</servlet-name>
        <servlet-class>Controllers.AddToCartControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemControllers</servlet-name>
        <servlet-class>Controllers.AddItemControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartPageControllers</servlet-name>
        <servlet-class>Controllers.LoadCartPageControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControllers</servlet-name>
        <servlet-class>Controllers.DeleteCartControllers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDB</servlet-name>
        <url-pattern>/loaddb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControllers</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControllers</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControllers</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControllers</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControllers</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductControllers</servlet-name>
        <url-pattern>/managerproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControllers</servlet-name>
        <url-pattern>/deletep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductControllers</servlet-name>
        <url-pattern>/addp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductControllers</servlet-name>
        <url-pattern>/editp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEdit</servlet-name>
        <url-pattern>/loadedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProfile</servlet-name>
        <url-pattern>/loadprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/editprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile02</servlet-name>
        <url-pattern>/editprofile02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartControllers</servlet-name>
        <url-pattern>/loadcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetakePassControllers</servlet-name>
        <url-pattern>/retakepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRetakepassControllers</servlet-name>
        <url-pattern>/loadretakepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadQuestionControllers</servlet-name>
        <url-pattern>/loadquestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RememberMeControllers</servlet-name>
        <url-pattern>/rememberme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadRememberMeControllers</servlet-name>
        <url-pattern>/loadrememberme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartControllers</servlet-name>
        <url-pattern>/addtocart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemControllers</servlet-name>
        <url-pattern>/additem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartPageControllers</servlet-name>
        <url-pattern>/loadcartpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControllers</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
